{% extends 'layouts/base.html.twig' %}

{% block title %}
SnowTricks
{% endblock %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-lg mt-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Snow|Tricks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-lg-0 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tricks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('registration') }}">Sign up</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <header class="mb-auto container mt-3">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark text-center d-flex justify-content-center header-trick">
            <div class="col-md-8 mt-5">
                <h1 class="display-4 mt-5">{{ trick.name }}</h1>
            </div>
        </div>
    </header>

	<main class="container">
		<div class="container px-4 py-5" id="custom-cards">
            <div class="row py-5">
                <div class="col-12">
                    <p>{{ trick.content }}</p>
                </div>
            </div>  
        </div>	
	</main>

    <footer class="container my-5 pt-5 text-muted text-right text-small">
        <p class="mb-1">Copyright © 2021 SnowTricks</p>
    </footer>

{% endblock %}